language: java
sudo: false
cache:
  directories:
    - $HOME/.m2
env:
  global:
    - MAVEN_OPTS="-XX:MaxPermSize=2g -Xmx4g"
    - JAVA_OPTS="-XX:MaxPermSize=2g -Xmx4g"
jdk:
  - oraclejdk8
install:
  - mvn clean install -Penv-dev  
script:
  - mvn test -Penv-dev
